.aboutPic{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.about-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-info{
    width: 40%;
}
