/* TODO Add site wide styles */
.page-outer{
    margin-top: 90px;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: -1;
    min-height: 100vh;
}

.page-margin-add {
    width: 100%;
}

.page-info {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}
.page-info-home{
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

button {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

body * {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.error404{
    margin-top: 100px;
}
