.details-img-container{
    display: flex;
    flex-wrap: wrap;
}

.details-img{
    height: 300px;
    width: 300px;
    border-radius: 33px;
}

.details-container{
    margin-left: 33px;
}

.details-delete-car-btn{
    border: 0;
    background-color: transparent;
    color: #FF385C;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 7px;
    font-size: 16px;
    margin-left: -5px;
}

.details-edit-car-btn{
    text-decoration: none;
    color: #FF385C;
    font-weight: bolder;
}

.details-create-booking-container{
    border: 3px #f8f8f8 solid;
    margin-right: 700px;
    border-radius: 11px;
}

.details-create-booking-container label {
    margin-left: 250px;
}

.details-create-booking-container h2 {
    margin-left: 250px;
}

.details-create-booking-container button {
    margin-top: 11px;
    margin-left: 300px;
    border: 0;
    background-color: #FF385C;
    color: white;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
}

.details-create-booking-container input {
    border-radius: 3px;
    border: solid 1px #D8D8D8;
}

.details-bookings-edit-btn{
    border: 0;
    background-color: #FF385C;
    color: white;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}
