.details-img-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.details-img{
    height: 300px;
    width: 300px;
    border-radius: 33px;
}

/* .details-container{
    margin-left: 33px;
} */

.details-delete-car-btn{
    border: 0;
    background-color: transparent;
    color: #FF385C;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 7px;
    font-size: 16px;
    margin-left: -5px;
}

.details-edit-car-btn{
    text-decoration: none;
    color: #FF385C;
    font-weight: bolder;
}

.details-create-booking-container{
    border: 3px #f8f8f8 solid;
    margin-right: 700px;
    border-radius: 11px;
}

/* .details-create-booking-container label {
    margin-left: 250px;
}

.details-create-booking-container h2 {
    margin-left: 250px;
} */

.details-create-booking-container button {
    margin-top: 11px;
    margin-left: 80px;
    border: 0;
    background-color: #FF385C;
    color: white;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
}

.details-create-booking-container input {
    border-radius: 3px;
    border: solid 1px #D8D8D8;
}

.details-bookings-edit-btn{
    border: 0;
    background-color: #FF385C;
    color: white;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}

.details-img-big{
    grid-column: 1;
    grid-row: 1/3;
}

.details-img-midtop{
    grid-column: 2;
    grid-row: 1;
}

.details-img-midbottom{
    grid-column: 2;
    grid-row: 2;
}

.details-img-endtop{
    grid-column: 3;
    grid-row: 1;
}

.details-img-endbottom{
    grid-column: 3;
    grid-row: 2;
}

.details-img-big-img{
    height: 490px;
    width: 560px;
}

.details-img-midtop-img{
    height: 238px;
    width: 272px;
}

.details-img-midbottom-img{
    height: 238px;
    width: 272px;
}

.details-img-endtop-img{
    height: 238px;
    width: 272px;
}

.details-img-endbottom{
    height: 238px;
    width: 272px;
}
