#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background-color: transparent;
  }

  .list-modal-container {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

  }



  .list-title {
    font-size: 16px;
    height: 42px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;

  }

  .modal-container {
    background-color: white;
    width: 400px;
    border-radius: 10px;

  }

  .modal-header {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .modal-header h2 {
    font-size: 15px;
    font-weight: 600;

  }

  ul.errors {
    list-style: none;
    margin-top:-10px;

  }

  ul.errors li {
    color:grey;
    margin: 8px;
  }

  .modal-btn-container {
    display: flex;
    justify-content: center;
    height: 48px;
    border-top: 1px solid lightgrey;
  }

  .modal-button {
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: #FF385C;
  }

  .modal-btn-container button {
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    border: none;

    margin: 5px;
  }

  .modal-msg-container {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .modal-msg-container div{
    color:grey;
    font-weight:500;
    margin-top:-20px;
  }
